@import 'variables.scss';
#Banner{
  top: 100px;
  width: 100vw;
  height: 30rem;
  padding: 50px;
  background-color: $primaryGold;
  z-index: -1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
      .card {
        display: flex;
        justify-content: center;
        width: 60rem;
        height: 400px;
        border-radius: 10px;
        box-shadow: 10px 10px 30px rgb(167, 153, 153);
        background-color:$primaryWhite;
      }
      .trade_button{
        display:flex;
        justify-content: center;
      }
      .trade_button button{
        font-size: 5rem;
        width: 40%;
        min-height: 200px;
        border-radius: 100px;
      }
      .trade_button button:hover{
        cursor: pointer;
      }
}



