@import 'variables.scss';

#allUsers{
  margin-top: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  .rank{
    width: 150px;
  }
  h2{
    text-align:left;
    font-size: 5rem;
    margin: 0px;
    margin-top: 50px;
  }
  h3{
    width: 400px;
    text-align:left;
  }
  h4{
    text-align:left;
    font-size: 2rem;
    width: 400px;
  }
}
.usersHeaders{
  display: flex;
  font-size: 3rem;
  gap: 20px;
}

