$primaryGold:  rgb(248, 207, 23);
$primaryBlack:  rgb(49, 40, 40);
$primaryWhite: rgb(255,255,255);
$primaryGoldtextOffset: rgb(179, 162, 162);
$primaryGoldDarker:  rgb(214, 181, 32);
$secondaryBlack: rgb(73, 71, 71);
$primaryOffset: rgb(253, 241, 241);
$primaryGreen: rgb(14, 204, 14);
$primaryRed: red;

